<body>
  <!-- Section-->
  <div class="search">
    <h1>上映時間で映画を検索</h1>

      <%= form_with url: movies_path, method: :get, local: true do |f| %>
        <label>最小上映時間（分）:</label>
        <%= f.number_field :min_runtime, value: params[:min_runtime], min: 30, max: 300, step: 5 %>

        <label>最大上映時間（分）:</label>
        <%= f.number_field :max_runtime, value: params[:max_runtime], min: 30, max: 300, step: 5 %>

        <%= f.submit "検索" %>
      <% end %>
  </div>
  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-3 justify-content-center">
        <% if @movies.present? %>
          <% @movies.each do |movie| %>
            <div class="col mb-5">
              <div class="card h-100">
                <!-- Product image -->
                <% if movie['poster_path'] %>
                  <%= image_tag "https://image.tmdb.org/t/p/w200#{movie['poster_path']}", class: "card-img-top" %>
                <% end %>

                <div class="card-body p-4">
                  <div class="text-center">
                    <!-- Movie title -->
                    <%= link_to movie_path(movie['id']) do %>
                      <p class="fw-bolder"><%= movie['title'] %></p>
                    <% end %>
                    <p>公開日：<%= movie['release_date'] %></p>
                    <p>評価：<%= movie['vote_average'] %></p>
                    <% if user_signed_in? %>
                      <% if current_user.favorites.exists?(movie_id: movie['id']) %>
                        <%= button_to "お気に入り解除", favorite_path(movie_id: movie['id']), method: :delete, class: "btn btn-warning" %>
                      <% else %>
                        <%= button_to "お気に入り追加", favorites_path(movie_id: movie['id']), method: :post, class: "btn btn-primary" %>
                      <% end %>
                    <% else %>
                      <p><a href="<%= new_user_session_path %>">ログイン</a> するとお気に入り登録ができます</p>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <!-- ページネーションを追加 -->
          <%= paginate @movies %>
        <% else %>
          <p>検索結果がありません。</p>
        <% end %>
      </div>
    </div>
  </section>
</body>
