<div class="movie-detail-container d-flex flex-wrap gap-4 align-items-start p-4">
  <% if @movie['poster_path'] %>
    <%= image_tag "https://image.tmdb.org/t/p/w200#{@movie['poster_path']}", class: "poster-small" %>
  <% end %>

  <div class="movie-info text-white">
    <h2 class="mb-2"><%= @movie['title'] %></h2>
    <% if user_signed_in? %>
      <% favorite = current_user.favorites.find_by(movie_id: @movie.id) %>
      <% if favorite %>
        <%= button_to "お気に入り解除", favorite_path(favorite), method: :delete, class: "btn btn-danger" %>
      <% else %>
        <%= button_to "お気に入り追加", movie_favorites_path(movie_id: @movie.tmdb_id), method: :post, class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <p><a href="<%= new_user_session_path %>">ログイン</a> するとお気に入り登録ができます</p>
    <% end %>
    <p>公開日：<%= @movie['release_date'] %></p>
    <p>上映時間：<%= @movie['runtime'] %> 分</p>

    <% if @movie['genres'] %>
      <p>ジャンル：<%= @movie['genres'].map { |g| g['name'] }.join(', ') %></p>
    <% end %>

    <p>評価：<%= number_with_precision(@movie['vote_average'], precision: 1) || '評価なし' %> / 10</p>

    <% if @movie['production_countries'] %>
      <p>製作国：<%= @movie['production_countries'].map { |c| c['name'] }.join(', ') %></p>
    <% end %>

    <% if @movie['homepage'].present? %>
      <p><a href="<%= @movie['homepage'] %>" target="_blank" class="text-info">公式サイトを見る</a></p>
    <% end %>

    <hr class="bg-light">
    <div class="">
      あらすじ
    </div>

    <% if @movie['overview'].present? %>
      <p><%= truncate(@movie['overview'], length: 200) || '説明なし' %></p>
    <% else %>
      <p>説明なし</p>
    <% end %>
  </div>
</div>
