<div class="movie-detail">
  <p><%= @movie['title'] %></p>
  <p><%= @movie['release_date'] %></p>
  <% if @movie['poster_path'] %>
    <p><%= image_tag 'https://image.tmdb.org/t/p/w200' + @movie['poster_path'],class: "card-size" %></p>
  <% end %>
  <p><%= @movie['overview'] %></p>
  <p>【上映時間：<%= @movie['runtime'] %>分】</p>
</div>
