<!DOCTYPE html>
<html>
  <head>
    <title>MovieApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Header -->
    <header class="bg-dark py-3">
      <div class="container px-4 px-lg-5">
        <div class="header-title text-white mb-3">
          <%= link_to "Runtime Movies", root_path, class: "app-title" %>
          <p class="lead fw-normal text-white-50 mb-0">上映時間からお好みの映画を探そう</p>
        </div>
      </div>

      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-4 px-lg-5">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item">
                <%= link_to "Home", root_path, class: "nav-link active", 'aria-current': :'page' %>
              </li>
              <li class="nav-item">
                <%= link_to "お気に入り一覧", favorites_path, class: "nav-link" %>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">アカウント設定</a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <% if user_signed_in? %>
                    <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                    <% unless current_user.email == 'guest@example.com' %>
                      <li><%= link_to "アカウント設定", edit_user_registration_path, class: "dropdown-item" %></li>
                    <% end %>
                  <% else %>
                    <li><%= link_to "ログイン", new_user_session_path, class: "dropdown-item" %></li>
                    <li><%= link_to "新規登録", new_user_registration_path, class: "dropdown-item" %></li>
                    <li><%= button_to "ゲストログイン", users_guest_login_path, method: :post, class: "dropdown-item" %></li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

  <body>
    <div class = header-list>
      <% if flash[:notice] %>
        <p>Notice: <%= flash[:notice] %></p>
      <% end %>
      <% if flash[:alert] %>
        <p>Alert: <%= flash[:alert] %></p>
      <% end %>
    </div>
    <%= yield %>
  </body>

  <!-- Footer-->
  <footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2025</p></div>
  </footer>

  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <%= javascript_pack_tag 'scripts' %>

</html>
